<h1 style="text-align: center;">OUR PARTNERS</h1>
<div class="partner-slider-wrapper">
  <div class="partner-slider">
    
    <img src="assets/business3.png" alt="Partenaire 1" />
    <img src="assets/bussiness2.jpeg" alt="Partenaire 2" />
    <img src="assets/bussiness3.png" alt="Partenaire 3" />
    <img src="assets/bussiness4.jpeg" alt="Partenaire 4" />

     <img src="assets/business3.png" alt="Partenaire 1" />
    <img src="assets/bussiness2.jpeg" alt="Partenaire 2" />
    <img src="assets/bussiness3.png" alt="Partenaire 3" />
    <img src="assets/bussiness4.jpeg" alt="Partenaire 4" />
  </div>
</div>

