<div class="dashboard-container">
  <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <ul>
      <li (click)="showSection('job')">Jobs</li>
      <li (click)="showSection('jobApplication')">Applications</li>
      <li (click)="showSection('resource')">Resources</li>
      <li (click)="showSection('subscription')">Subscriptions</li>
    </ul>
  </aside>
  <main class="main-content">
    <section *ngIf="currentSection === 'job'">
      <app-job></app-job>
    </section>

    <section *ngIf="currentSection === 'jobApplication'">
      <app-job-application></app-job-application>
    </section>

    <section *ngIf="currentSection === 'resource'">
      <app-resource></app-resource>
    </section>

    <section *ngIf="currentSection === 'subscription'">
      <app-subscription></app-subscription>
    </section>
    <section *ngIf="currentSection === 'about'">
     <app-about></app-about>
   </section>

   <section *ngIf="currentSection === 'contact'">
     <app-contact></app-contact>
   </section>

  </main>
</div>
