<section class="job-listings-section">
  <div class="job-listings-header">
    <div class="job-listings-header-left">
      <h2>Offres d'emploi récentes</h2>
      <p class="section-description">Des centaines d’offres d’emploi et de stages n’attendent que vous.</p>
    </div>
    <a routerLink="/job-list" class="view-all-link">Voir Tout</a>
  </div>

  <div class="job-listings-container">
    <div class="job-card" *ngFor="let job of recentJobs">
      <div class="job-card-header">
        <span class="time-ago">{{ job.timeAgo }}</span>
        <button class="bookmark-btn" (click)="toggleBookmark(job)">
          <i class="fa-bookmark" [ngClass]="{'fas': job.bookmarked, 'far': !job.bookmarked}"></i>
        </button>
      </div>

      <div class="job-content-main">
        <div class="company-logo">
          <img src="assets/domaindriven.jpeg" alt="{{ job.recruiterCompanyName }} Logo" class="logo-image">
        </div>
        <div class="job-info">
          <h3 class="job-title">{{ job.title }}</h3>
          <p class="company-name">{{ job.recruiterCompanyName }}</p>
        </div>
      </div>

      <div class="job-details">
        <div class="detail-item"><i [class]="job.categoryIcon"></i> {{ job.categoryName }}</div>
        <div class="detail-item"><i [class]="job.typeIcon"></i> {{ job.employmentType }}</div>
        <div class="detail-item"><i class="fas fa-money-bill-wave"></i> {{ job.pay }}</div>
        <div class="detail-item"><i class="fas fa-map-marker-alt"></i> {{ job.location }}</div>
    
      </div>
      <div class="job-card-footer">
        <button class="view-details-btn" (click)="viewJobDetails(job)">Détails de l'emploi</button>
      </div>
       </div>
      </div>

    <div *ngIf="recentJobs.length === 0" class="no-jobs-message">
      Aucune offre d'emploi récente disponible pour le moment.
    </div>
  <div class="pagination">
  <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 0">
    &#8592; <!-- flèche gauche -->
  </button>

  <span class="pagination-info">
    Page {{ currentPage + 1 }} / {{ totalPages }}
  </span>

  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">
    &#8594; <!-- flèche droite -->
  </button>
</div>
</section>
