<section class="job-listings-section">
  <div class="job-listings-header">
    <div class="job-listings-header-left">
      <h2>Offres d'emploi récentes</h2>
      <p class="section-description">Des centaines d’offres d’emploi et de stages n’attendent que vous.</p>
    </div>
    <a href="#" class="view-all-link">Voir Tout</a>
  </div>

  <div class="job-listings-container">
    <div class="job-card" *ngFor="let job of recentJobs">
      <div class="job-card-header">
        <span class="time-ago">{{ job.timeAgo }}</span>
        <button class="bookmark-btn" (click)="toggleBookmark(job)">
          <i class="fa-bookmark" [ngClass]="{'fas': job.bookmarked, 'far': !job.bookmarked}"></i>
        </button>
      </div>

      <div class="job-content-main">
        <div class="company-logo">
          <img src="assets/domaindriven.jpeg" alt="{{ job.recruiterCompanyName }} Logo" class="logo-image">
        </div>
        <div class="job-info">
          <h3 class="job-title">{{ job.title }}</h3>
          <p class="company-name">{{ job.recruiterCompanyName }}</p>
        </div>
      </div>

      <div class="job-details">
        <div class="detail-item"><i [class]="job.categoryIcon"></i> {{ job.categoryName }}</div>
        <div class="detail-item"><i [class]="job.typeIcon"></i> {{ job.employmentType }}</div>
        <div class="detail-item"><i class="fas fa-money-bill-wave"></i> {{ job.pay }}</div>
        <div class="detail-item"><i class="fas fa-map-marker-alt"></i> {{ job.location }}</div>
      </div>

      <!-- Bouton pour afficher/masquer les détails -->
      <div class="job-card-footer">
        <button class="view-details-btn" (click)="toggleDetails(job)">
          {{ job.showDetails ? 'Masquer' : 'Détails' }}
        </button>
      </div>

      <!-- Dropdown de détails supplémentaires -->
      <div class="job-dropdown-details" *ngIf="job.showDetails" >
        <p><strong>Description :</strong> {{ job.description }}</p>
        <p><strong>Employment Type :</strong> {{ job.employmentType }}</p>
        <p><strong>Category Name:</strong> {{ job.categoryName }}</p>
        <p><strong>Date de publication :</strong> {{ job.datePosted | date }}</p>
        <!-- Ajoutez ici d'autres champs si nécessaires -->

        <div class="apply-button-container">
           <button class="apply-btn" (click)="navigateToJobApplication(job)">Postuler</button>
       </div>
      </div>
    </div>

    <div *ngIf="recentJobs.length === 0" class="no-jobs-message">
      Aucune offre d'emploi récente disponible pour le moment.
    </div>
  </div>
</section>
